// Base
// ---------------
$global-font-size: 14px
$global-width: 100%
$global-line-height: 1.5
$cablenews-primary: #1F145D
$cablenews-primary-hover: #0F063C
$cablenews-secondary: #5748AE
$cablenews-secondary-hover: #231D46
// ---------------
// Typography
// ---------------
$font-family: 'Roboto', sans-serif
$font-size: 1rem
$font-weight: normal
$h1-font-size: 1.5rem
$h1-font-weight: 700
$h2-font-size: 1.35rem
$h2-font-weight: 700
// ---------------
// Grid
// ---------------
$grid-width: 100%
// ---------------
// Breakpoints
// ---------------
$breakpoints-small: 640px
$breakpoints-medium: 768px
$breakpoints-large: 1024px
$breakpoints-xlarge: 1200px
// ---------------
// Header
// ---------------
$header-background: #ffffff
// ---------------
// Navigation
// ---------------
$navigation-background: transparent
// ---------------
// Slider
// ---------------
$slider-background-after: linear-gradient(to top, rgba(#000000, .9), rgba(#000000, .38), rgba(#000000, .2))
$slider-category-font-size: 0.875rem
$slider-title-font-size: 1.5rem
$slider-description-font-size: 1rem
$slider-btn-read-background: #ffffff
$slider-btn-read-color: $cablenews-primary
$slider-btn-border-radius: 35px
$slider-btn-box-shadow: 0 0 15px rgba(#ffffff, .5)
$slider-nav-btn-size: 20px
$slider-nav-btn-opacity: .7
$slider-nav-btn-hover: 1
// ---------------
// Right side
// ---------------
$right-background: #ffffff
// ---------------
// Section title
// ---------------
$section-title-font-color: $cablenews-primary
$section-title-border: $cablenews-secondary
// ---------------
// News
// ---------------
$news-background: #ffffff
$news-date-font-size: .75rem
$news-title-font-size: 1.2rem
$news-description-font-size: 1rem
$news-read-font-size: 1rem
$news-read-color: $cablenews-primary
// ---------------
// Video
// ---------------
$video-background: #ffffff
// ---------------
// News page
// ---------------
$news-page-image-width: 100%
$news-page-image-height: 700px
// ---------------
// Video page
// ---------------
$video-page-video-width: 100%
$video-page-video-height: 700px
// ---------------
// Comments
// ---------------
$comment-background: transparent
$form-background: transparent
$form-border-size: 1px
$form-border-color: #cccccc
$form-font: $font-weight $font-size $font-family
$form-color: #444
$form-padding: 5px 10px
// ---------------
// Category page
// ---------------
$category-count-row: 7
$category-count-column: 3
$category-btn-nav-background: $cablenews-primary
$category-btn-nav-color: #ffffff
$category-btn-nav-border-radius: 5px
