extends base/base.pug
block title
	|Home
block nav
	include section/nav.pug
block header
	include section/header.pug
block content
	|123
block footer
	include section/footer.pug
block import
	include base/import.pug
