body
	font: 400 1rem/100% 'Calibri', sans-serif
	line-height: 1.5
	color: #000000

.container
	width: 100%
	margin: auto
	padding-left: 15px
	padding-right: 15px

a
	text-decoration: none
	transition: .3s

a,
button,
input
	&:focus,
	&:active
		outline: 0
